[project]
	description = TinyMCE Javascript HTML WYSIWYG Plugin for CakePHP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dominik Schmelz (DIDoS)
[access "refs/for/refs/*"]
	read = group user/Dominik Schmelz (DIDoS)
	push = group user/Dominik Schmelz (DIDoS)
	label-Code-Review = -2..+2 group user/Dominik Schmelz (DIDoS)
	label-Verified = -1..+1 group user/Dominik Schmelz (DIDoS)
	rebase = group user/Dominik Schmelz (DIDoS)
	removeReviewer = group user/Dominik Schmelz (DIDoS)
	submit = group user/Dominik Schmelz (DIDoS)
[access "refs/heads/*"]
	read = group user/Dominik Schmelz (DIDoS)
	create = group user/Dominik Schmelz (DIDoS)
	push = +force group user/Dominik Schmelz (DIDoS)
	pushMerge = group user/Dominik Schmelz (DIDoS)
[access "refs/tags/*"]
	push = +force group user/Dominik Schmelz (DIDoS)
	pushTag = group user/Dominik Schmelz (DIDoS)
	pushSignedTag = group user/Dominik Schmelz (DIDoS)
